#x-fastchat {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 0;
    margin: 0 82%;
    width: 210px;
    border: 1px solid #3B5998;
    border-bottom: none;
    z-index: 9999999;
    background-color: #3B5998;
    font-family: Verdana;
    background-color: #eee;
}

#x-fastchat.x-fastchat-closed {
    height: 20px;
    width: 47px;
    margin: 0 94%;
}

#x-fastchat .x-fastchat-top {
    width: 100%;
    background-color: #3B5998;
    height: 24px;
}

#x-fastchat .x-fastchat-hide {
    float: right;
    font-family: Verdana;
    color: #888;
    font-size: 12px;
}

#x-fastchat button, .x-fastchat-window button {
    margin: 2px 5px 0 0;
    border: 1px #eee solid;
    background-color: #fff;
}

#x-fastchat ul#x-fastchat-users {
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #FFF;
    height: 220px;
}

#x-fastchat.x-fastchat-closed ul#x-fastchat-users {
    display: none;
}

#x-fastchat ul#x-fastchat-users li {
    font-size: 12px;
    font-family: Verdana;
    color: #3B5998;
    padding-left: 12px;
    margin-top: 4px;
    font-style: italic;
    cursor: pointer;
}

#x-fastchat ul#x-fastchat-users li:first-child {
    color: #666;
    font-style: none;
    font-weight: bolder;
    padding-left: 6px;
    border: none;
}

.x-fastchat-window {
    position: fixed;
    float: right;
    right: 0;
    bottom: 0;
    padding: 0;
    width: 210px;
    border: 1px solid #3B5998;
    border-bottom: none;
    z-index: 9999999;
    background-color: #3B5998;
    background-color: #eee;
    font-family: Verdana;
    height: 242px;
}

.x-fastchat-window.x-fastchat-closed {
    height: 20px;
    overflow: hidden;
}


.x-fastchat-window .x-fastchat-top {
    width: 205px;
    background-color: #3B5998;
    height: 22px;
    font-family: Verdana;
    color: #fff;
    font-size: 14px;
    text-transform: capitalize;
    padding-left: 5px;
}

.x-fastchat-window .x-fastchat-hide {
    float: right;
    margin: 0;
    font-family: Verdana;
    color: #888;
    font-size: 12px;
}

.x-fastchat-window ul.x-fastchat-chat {
    float: left;
    text-align: left;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 185px;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #FFF;
}

.x-fastchat-window.x-fastchat-closed ul.x-fastchat-chat {
    display: none;
}

.x-fastchat-window ul.x-fastchat-chat li {
    font-size: 12px;
    font-family: Verdana;
    color: #333;
    padding-left: 5px;
    margin-top: 4px;
}

.x-fastchat-window ul.x-fastchat-chat li .x-fastchat-from {
    color: #666;
    font-style: italic;
    text-transform: capitalize;
}

.x-fastchat-window input {
    width: 190px ;
    border: 1px solid #3B5998;
    margin: 0;
    margin-top: 4px;
    margin-left: 4px;
    margin-bottom: 4px;
    padding: 5px;
    font-family: Verdana;
    font-size: 12px;
    color: #666;
}

.x-fastchat-window.x-fastchat-closed input {
}

